@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(219, 219, 219);
}

h1 {
  padding: 0.5em 1em;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  color: grey;
  border-radius: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 2em 10%;
}

.item {
  width: 30em;
  background-color: white;
  box-sizing: border-box;
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.item img {
  min-width: 100px;
  max-width: 430px;
  border-radius: 6px;
  width: 100%;
}

.item h2 {
  font-size: 1em;
  margin-bottom: 0.2em;
}

button {
  padding: 0.5rem;
  margin: 0.2rem;
}

.darkBody {
  background-color: rgb(39, 39, 39);
}

.darkTitulo {
  background-color: rgba(62, 139, 126, 0.623);
  color: rgb(255, 255, 255);
  border-color: black;
  /*text-transform: uppercase;*/
}

.darkItem {
  background-color: rgb(19, 19, 19);
  border-color: black;
}

.darkConteudo {
  color: rgb(230, 230, 230);
}

.botaoSlides {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.linkBotaoSlides {
  margin: 0;
  text-decoration: none;
  background: linear-gradient(
    to right,
    rgba(18, 121, 139, 0.65),
    rgba(24, 168, 149, 0.65)
  );
  padding: 0.5rem 1.25rem;
  border-radius: 1.25rem;
  font-size: 1rem;
  color: white;
  transition: all 0.3s ease-in-out;
  position: relative;
  border-top: 2px solid rgb(66, 153, 147);
  border-right: 2px solid rgb(116, 202, 196);
  border-bottom: 2px solid rgb(66, 153, 147);
  border-left: 2px solid rgb(116, 202, 196);
}

.linkBotaoSlides:hover {
  background: linear-gradient(
    to right,
    rgba(12, 102, 117, 0.85),
    rgba(15, 138, 121, 0.85)
  );
  box-shadow: 0 0 12px rgb(116, 202, 196);
  transition: all 0.3s;
  border-top: 2px solid rgb(133, 219, 214);
  border-right: 2px solid rgb(66, 153, 147);
  border-bottom: 2px solid rgb(135, 214, 209);
  border-left: 2px solid rgb(66, 153, 147);
}

.linkBotaoSlides:active {
  color: rgb(59, 159, 184);
  transition: all 0.1s ease-in-out;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  flex-wrap: wrap;
}
